<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- SFDC Metadata helper settings -->
    <add key="SfdcMetadataStartCheckIntervalSeconds" value="2"/>
    <add key="SfdcMetadataMaxCheckIntervalSeconds" value="10"/>
    <add key="SfdcMetadataMaxWaitTimeSeconds" value="600"/>

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
